@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
}

/* ==================== Header Section ==================== */

/* Logo Image */
.headerLogoImg {
  width: 100%;
  max-width: 138px;
}

/* Location Button */
.locationBtn button {
  background-color: #f5f3f1;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s linear;
}
.locationBtn button:hover {
  background-color: #ebe9e8;
}

/* Toggle Btn */
.toggleContainer {
  position: relative;
  display: flex;
  border-radius: 800px;
  background-color: #efedea;
  font-size: 14px;
  width: 269px;
  height: 32px;
  padding: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toggleContainer input[type="radio"] {
  display: none;
}

.toggleContainer label {
  width: 133px;
  height: 28px;
  padding: 4px 24px;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.3s ease;
  z-index: 2;
}

.toggleContainer label img {
  margin-right: 5px;
}

.toggleSlider {
  fill: #f77f00;
  position: absolute;
  width: 133px;
  height: 28px;
  background-color: white;
  border-radius: 50px;
  transition: transform 0.4s ease;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#abholung:checked ~ .toggleSlider {
  transform: translateX(100%);
}

#lieferung:checked + label svg {
  fill: #f77f00;
}

#abholung:checked + label svg {
  fill: #f77f00; 
}

/* Country Selector Button */
.countrySelect button {
  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.countrySelect button:hover {
  background: #ebe9e8;
}
.countrySelect button img {
  width: 24px;
  height: 24px;
}

/* Menu Button */
.menuBtn button {
  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.menuBtn button:hover {
  background: #ebe9e8;
}
.menuBtn button img {
  width: 24px;
  height: 24px;
}

/* ==================== HERO SECTION ==================== */
/* Slider */
.hero-section {
    padding-bottom: 8px;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1);
}

.sliderCategory{
    gap: 20px;
}

.hero-slide-content:nth-child(1) .backgroundDiv {
    background-color: #FF8000;
}  
.hero-slide-content:nth-child(2) .backgroundDiv {
    background-color: #5b3d5b;
}
.hero-slide-content:nth-child(3) .backgroundDiv {
    background-color: #f75e28;
}
.hero-slide-content:nth-child(4) .backgroundDiv {
    background-color: #f6c243;
}
.hero-slide-content:nth-child(5) .backgroundDiv {
    background-color: #C1DADE;
}
.hero-slide-content:nth-child(6) .backgroundDiv {
    background-color: #F2A6B0;
}
.hero-slide-content:nth-child(7) .backgroundDiv {
    background-color: #FF8000;
}
.hero-slide-content:nth-child(8) .backgroundDiv {
    background-color: #5b3d5b;
}
.hero-slide-content:nth-child(9) .backgroundDiv {
    background-color: #f75e28;
}

.hero-slide-content a .slide-thumb {
    width: 122px;
    height: 90px;
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
}
.hero-slide-content a .slide-thumb .backgroundDiv {
    width: 122px;
    height: 66px;
    position: absolute;
    top: 12px;
    left: 0;
    z-index: -1;
    border-radius: 16px;
}
.hero-slide-content a .slide-thumb img {
    width: 100%;
}
.hero-slide-content a .slide-text {
    display: inline-flex;
    font-size: 14px;
    color: #242e30;
    font-weight: 400;
}


/* Next button */
.swiper-button-next button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ebe9e8;
    border: none;
    border-radius: 9999px;
    transition: .45s ease 0s;
}

.swiper-button-next button:hover {
    background: #d7d5d4;
}


/* ==================== SIDEBAR ==================== */

.common-sidebar-title {
  margin-bottom: 24px;
}
.common-sidebar-title h4 {
  box-sizing: border-box;
  color: rgb(36, 46, 48);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
}

.app-section {
    padding: 30px;
}

/* CUSTOM SWITCHES */
.app-option-with-btn {
  /* The layout styles remain from the Bootstrap classes */
}

.mz-switch {
  display: none;
}

/* Custom Switch Jetzt geöffnet & Kostenlose Lieferung */
.form-check-label {
display: inline-block;
width: 40px;
height: 24px;
background-color: #adb5bd;
border-radius: 50px;
position: relative;
transition: background-color 0.4s;
cursor: pointer;
}

.form-check-label:after {
content: "";
display: block;
width: 20px;
height: 20px;
background-color: #ffffff;
position: absolute;
left: 2px;
bottom: 2px;
border-radius: 50%;
transition: transform 0.4s;
}

/* Change background color */
.mz-switch:checked + .form-check-label {
background-color: #f15d00; 
}

/* Move switch when checked */
.mz-switch:checked + .form-check-label:after {
transform: translateX(16px); 
}

/* Mindestbestellbetrag */
.app-sidebar-select-box h4 {
  display: inline-flex;
  gap: 8px;
  align-items: flex-end;
  margin-bottom: 16px;
}
.app-sidebar-select-box .sidebar-select-box {
  margin-bottom: 12px;
}
.app-sidebar-select-box .sidebar-select-box input[type=radio] {
  display: none;
}
.app-sidebar-select-box .sidebar-select-box label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 400;
}
.app-sidebar-select-box .sidebar-select-box label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
}
.app-sidebar-select-box .sidebar-select-box input[type=radio]:checked + label::before {
  border-width: 4px;
  background-color: transparent;
  border-color: #f36805;
}

/* Angebote und Rabatte Checkbox */
.app-sidebar-checkbox h4 {
  display: inline-flex;
  gap: 8px;
  align-items: flex-end;
  margin-bottom: 16px;
}

.customCheckbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #adb5bd;
  background-color: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  position: relative;
  cursor: pointer;
}
.customCheckbox:checked {
  background-color: #f36805;
  border-color: #f36805;
}
.customCheckbox:checked::after {
  content: "\2713"; /* Checkmark symbol */
  color: white; /* Checkmark color */
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the checkmark */
}

.app-sidebar-checkbox .sidebar-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.app-sidebar-checkbox label {
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 400;
}

/* ==================== MAIN ==================== */

/* MAIN HEADER  */
.app-main-header {
  display: flex;
  align-items: center;
  gap: 24px;
}
.app-main-header .app-search {
  max-width: 456px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.app-main-header .app-search input {
  width: 100%;
  padding: 16px 16px 16px 56px;
  border: 1px solid #333;
  border-radius: 36px;
}
.app-main-header .app-search button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;
}

/* Sortieren nach */
.app-main-selectbox-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* Label */
.app-main-selectbox-wrap h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  line-height: 24px;
  flex-shrink: 0;
}
/* Sortieren nach Dropdown */
.app-main-selectbox-wrap .app-main-selectbox select {
  padding: 12px 16px 12px 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 300;
  max-width: 224px;
}
/* location btn */
.app-main-location-btn button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebe9e8;
  border: none;
  border-radius: 9999px;
}
.app-main-location-btn button:hover {
  background: rgb(215, 213, 212);
}

/* Header Card */
.app-card-head {
  margin-bottom: 16px;
}
.app-card-head h5 {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 0;
}
.app-card-head a {
  font-size: 15px;
  text-decoration: underline;
  font-weight: 400;
  line-height: 16px;
  color: rgb(36, 46, 48);
}
.app-card-head a:hover{
  text-decoration: none;
}

/* Restaurant Card */

.restaurantCard {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.04), 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
}

.bg-warning.rounded-circle {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.restaurantLogo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stempelKarteBadge {
  background-color: #ffead4;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  line-height: 16px;
}

.gesponsertBadge{
  background-color: #262626;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
}


/* ============= Footer ============= */

footer{
  background-color: #efedea;
}

footer p,
footer a {
  font-size: 14px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}